*/[Tt]emp/
*/.vscode/launch*.json
*/.vscode/.alcache/*
*/.vscode/.altemplates
*/.vscode/rad.json
*/permissionsAnalyzer.json
*/extensionsPermissionSet.xml
*/.alpackages/
*/.altestrunner/
*.g.xlf
*.app
!/test/dependencies/*
!/app/dependencies/*
*/.snapshots/
